# Ignore virtual environment
venv/

# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore log files
*.log

# Ignore temporary files
*~
*.swp
.DS_Store
Thumbs.db

# Ignore VS Code specific settings
.vscode/

# Ignore SQLite database files (if any)
*.mysql
Lmasana_Assistant_Backup/